@import "common/reset";
@import "common/fonts";
@import "common/pattern";

@import "common/container";

@import "banner/banner";
@import "order/order";



html {
	box-sizing: border-box;
}

body {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-size: 15px;
	line-height: 18px;
	font-weight: normal;
	position: relative;
	background-color: #c1c1c1;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.bg {
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
}

.g-main {
	position: relative;
	top: -89px;
	margin-bottom: -89px;
}

.section {
	position: relative;
}