@import "../../common/pattern";
@import "slider";

.form {
    .form-control, .button {
        padding: 12px 10px;
        width: 370px;
        border-radius: 3px;
    }

    .form-control {
        background: rgba(255, 255, 255, 0.85);
        color: #272733;
        @include font_size-line(18px, 21.6px);
        border: 1px solid #FFFFFF;
    }

    option {
        background-color: #272733;
        color: #fff;
        @include font_size-line(18px, 20px);
        padding: 10px 0;
    }

    input::-moz-placeholder {
        color: #272733;
    }

    input::-webkit-input-placeholder {
        color: #272733;
    }
}

@import "select";


.form-order__top {
    .select, .form-control {
        margin-bottom: 30px;
    }
}

.add-file {
    background: #FFFFFF;
    border: 2px solid #3E9CDC;
    text-transform: uppercase;
    position: relative;
    min-width: 370px;
    padding-bottom: 11px;
    margin-bottom: 40px;
    @include font_size-line(15px, 18px);

    img {
        position: relative;
        margin-right: 10px;
        bottom: 2px;
    }
}

.send {
    color: #fff;
    background: #3E9CDC;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    text-transform: uppercase;
    @include font_size-line(15px, 18px);
    padding: 14px;
}

@media (max-width: 1220px) {
    .form-order__top {
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .form-order__bottom {
        flex-direction: column;
    }
    .form-order .form-order__submit {
        justify-content: flex-start;
    }
}

@media (max-width: 390px) {
    .form .select, .form .form-control, .form .button {
        width: 300px;
    }
    .button.add-file {
        min-width: 300px;
    }
}