@import "../common/pattern";

.banner {
	padding-top: 203px;
	padding-bottom: 203px;

	.bg-picture {
		//background-color: #c2dae2;
		background-image: url("../../src/img/png/slider-bg.png");
	}
}

.banner-content {
	max-width: 780px;
}

h1 {
	@include font_size-line(48px, 57.6px);
	text-transform: uppercase;
	padding-bottom: 80px;
	font-weight: 700;
}

.descr {
	padding-bottom: 80px;

	.descr__title {
		margin-bottom: 10px;
		font-weight: 700;
	}

	ul {
		li:before {
			content: url("../../src/img/png/defis.png");
			padding-right: 12px;
			position: relative;
			bottom: 5px;
		}
	}
}

.buttons {
	.button {
		width: 183px;
		padding: 13px 0px;
		border-radius: 4px;
		@include font_size-line(13px, 15.6px);
		text-transform: uppercase;
		box-sizing: content-box;
	}
}

.buttons__order {
	margin-right: 30px;
	background-color: #3E9CDC;
	color: #fff;
	border: 1px solid #fff;
}

.buttons__more {
	background-color: #fff;
	color: #2A2B30;
	border: 1px solid #6F6D7B;
}

@media (max-width: 992px) {
	h1 {
		@include font_size-line(40px, 45px);
	}
}

@media (max-width: 576px) {
	h1 {
		@include font_size-line(30px, 32px);
		padding-bottom: 40px;
	}
	.banner {
		padding-top: 130px;
		padding-bottom: 60px;
	}
	.descr {
		padding-bottom: 40px;
	}
}