@import "../common/pattern";

.order {
	color: #fff;
	padding-top: 121px;
	padding-bottom: 151px;

	.bg-picture {
		background-color: #272733;
		background-image: url("../../src/img/png/order-bg.png");
	}
}

.order__top {
	h2 {
		@include font_size-line(36px, 43.2px);
		text-transform: uppercase;
		font-weight: 700;
	}

	p {
		color: #BBBBBB;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

@import "tizers/tizers";
@import "form/form";


@media (max-width: 992px) {
	.order__top h2 {
		@include font_size-line(30px, 35px);
	}
}

@media (max-width: 576px) {
	.order__top h2 {
		@include font_size-line(25px, 30px);
	}
	.order {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}




