@import "../pattern";


.bg-picture {
	position: absolute;
	z-index: -1;
	display: block;
	overflow: hidden;
	top: 0;
	bottom: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}