@import "../pattern";


.bg-picture {
	position: absolute;
	z-index: -1;
	display: block;
	overflow: hidden;
	top: 0;
	bottom: 0;

	//left: 50%;

	width: 100%;

	//margin-left: -960px;
	//background-size: contain;

	background-repeat: no-repeat;
	background-position: center center;



	//z-index: -1;
	//display: block;
	//overflow: hidden;
	//position: absolute;
	//top: 0;
	//bottom: 0;
	//left: 50%;
	//width: 1920px;
	//margin-left: -960px;
	//background-size: contain;
	//background-color: transparent;
	//background-repeat: no-repeat;
	//background-position: center center;
	//border: 1px solid red;
}


