@import "../main/common/reset";
@import "../main/common/fonts";
@import "../main/common/pattern";

.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 101;
	background: rgba(16, 16, 29, 0.9);
}

.header__row {
	padding: 33.5px 0;
}

.col-menu {
	position: relative;
}

.logo img {
	max-width: 247px;
	margin-right: 15.14px;
}

@import "desc-menu";
@import "mobile-menu";

@media (max-width: 576px) {
	.logo img {
		max-width: 200px;
	}
}